name: Publish to WinGet
on:
    release:
        types: [released]

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - name: WinGet Releaser
              uses: vedantmgoyal9/winget-releaser@v2
              with:
                  identifier: ChurchApps.FreeShow
                  token: ${{ secrets.WINGET_TOKEN }}
                  fork-user: vassbo
